*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100svh;
}
header {
    padding: 20px;
    margin: 5px;
    background-color: blueviolet;
    color: white;
    align-items:center;
    height: 15%;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    color: white;
    list-style-type: none;
}
a {
    color: white;
    text-decoration: none;
}
main {
    text-align: center;
    margin: 10px;
    padding:20px;
    height: 75%;
}
.conteneur .card {
    height: 250px;
    width: 300px;
    background-color: blue;
    border-radius: 10px;
}
.conteneur {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: blue;
}
button {
    background-color: blueviolet;
    color: white;
    padding: 10px;
    margin: 15px;
    border-radius: 5%;
}
section {
    display: flex;
    justify-content: flex-start;
}
footer {
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    background-color: blueviolet;
    color: white;
    height: 10%;
}

